<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707023702918-70hu9fq65knv28pq7n0gej211gt2773n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707023702918-70hu9fq65knv28pq7n0gej211gt2773n</string>
	<key>API_KEY</key>
	<string>AIzaSyCw5DR0V6J5jxvHJaAI5cgtDtbfsfqqf5I</string>
	<key>GCM_SENDER_ID</key>
	<string>707023702918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.wpho.Flash-Chat-iOS-App</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-app-d7698</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-app-d7698.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707023702918:ios:43f4c349d0b1fd8b857a07</string>
</dict>
</plist>